<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.highsys.systemchanger">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="ATMS"
        android:exported="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="atms_pro.activities.ui.atmsProMain"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name="atms_pro.activities.ui.AtmsProHome" />
        <activity android:name="com.highsys.pages.install_mobile" />
        <activity
            android:name="com.highsys.pages.fingers"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="com.highsys.pages.installsystems"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="com.highsys.pages.allerros"
            android:theme="@style/MyDialogStyleBottom" />
        <activity android:name="com.highsys.pages.virtualsdcard" />
        <activity
            android:name="com.highsys.pages.supportme"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="com.highsys.pages.aboutme"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="com.highsys.pages.thehelps"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.highsys.pages.processdia"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="com.highsys.pages.power"
            android:launchMode="standard"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name="com.highsys.pages.hello"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:launchMode="standard"
            android:theme="@style/MyDialogStyleBottom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".DownloadService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>